<!doctype html>
<html lang="ru">
  <head>
    {% block title %}
      <title>Design Studio</title>
    {% endblock %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="header">
        <a href="{% url 'index' %}" class="logo">Design Pro</a>
        <nav class="main-nav">

          {% block topnav %}
            <a href="{% url 'index' %}">Главная</a>
            {% if user.is_authenticated %}
            <a href="">Создать заявку</a>
             <p>{{ user.get_username }}</p>
             <form class="logout-form" method="post" action="{% url 'logout' %}">
                 {% csrf_token %}
                 <button type="submit" class="btn btn-link">Выход</button>
             </form>
           {% else %}
             <a href="{% url 'login' %}?next={{ request.path }}">Вход</a>
              <a href="{% url 'register' %}">Регистрация</a>

           {% endif %}
          {% endblock %}
        </nav>
    </header>
    <main class="main-content">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>