{% extends "base_generic.html" %}

{% block content %}
  <div class="auth-container">
    <h2 class="auth-title">Подтверждение удаления</h2>

    <p>Вы уверены, что хотите удалить заявку:</p>
    <p><strong>{{ request.name }}</strong></p>


    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn-submit" style="background-color: #e53e3e;">Да, удалить</button>
      <a href="{% url 'my-requests' %}" class="btn-secondary" style="margin-left: 20px">Отмена</a>
    </form>
  </div>
{% endblock %}